@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body 
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	flex-direction: column;
	background: #c9cff1;
}
.box 
{
	position: relative;
	width: 380px;
	height: 450px;
	background: #f1e9e9;
	border-radius: 8px;
	overflow: hidden;
}
form 
{
	position: absolute;
	inset: 2px;
	background: #f2f3f6;
	padding: 50px 40px;
	border: solid 1px blue;
	z-index: 2;
	display: flex;
	flex-direction: column;

}

.inputBox 
{
	position: relative;
	width: 300px;
	margin-top: 35px;
}

.inputBox span 
{
	position: absolute;
	left: 0;
	padding: 20px 0px 10px;
	pointer-events: none;
	font-size: 1em;
	color: #8f8f8f;
	letter-spacing: 0.05em;
	transition: 0.5s;
}
.links 
{
	margin: 20px 0px ;
	display: flex;
	justify-content: space-between;
}
h2 
{
	color: #0c1718;
	font-weight: 500;
	text-align: center;
	letter-spacing: 0.1em;
}
.row{
	display: flex;
}
.col{
	display: grid;
	margin: auto;
}
.navbar{
	margin: 50px 0px 0px 8.5%;
}