.info{
	margin-left: 70px;
	width: 20%;
	display: inline-block;
}
.profile{
	width: 45%;
	padding: 5px 5px;
	margin-top: 5px;
	margin-right: 70px;
	border-radius: 10px/20px;
	display: inline-block;
}
.btn{
	margin-top: 10px;
	display: inline-block;
	background-color: #4F81BD;
	padding: 5px 10px 5px 10px;
	border-radius: 10px/20px;
	cursor: pointer;
}
.data {
	margin-top: 30px;
}
.count-student{
	margin-left: 10px;
}

.btn-search{
	position: absolute;
	left: 40%;
}

.wrapper {	
	position: absolute;
	top: 20%;
	left: 15%;
	width: 70%;
	background: #fff !important;	
	border: 1px solid #000;
	padding: 5px 5px 5px 5px;
	border-radius: 10px/20px;
}

table{
	margin-top: 50px;
	width: 100%;
}

.no{
	width: 50px;
	text-align: left;
}
.name{
	text-align: left;
	max-width: 400px;
	min-width: 150px;
}
.status{
	text-align: left;
	max-width: 300px;
	min-width: 150px;
}
.action{
	text-align: center;
	width: 50%;
	
}

.btn-delete{
	float:right;
	margin-right: 20px;
	width: 70px;
}

.form-signin{
	display: inline-block;
}

.option{
	display: inline-block;
	/* width: 100px; */
	margin-left: 20px;
	text-align: center;
}